
@{
    ViewBag.Title = "RetirementSurvey";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/Style.css" rel="stylesheet" />
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<style>
    body {
        color: #484848;
        font-size: 13.3px !important;
        font-family: 'Dosis';
        line-height: normal;

    }

    .survey {
        border: 1px solid #cacaca;
        background: #fff;
        /*padding: 10px;*/
        border-radius: 5px;
        box-shadow: 0px 0px 2px 2px #c7c7c7;
    }

    input[name='sex'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: none;
    }

        input[name='sex']:after {
            font-family: 'FontAwesome';
            display: inline-block;
            text-align: center;
            font-size: 35px;
            content: attr(data-icon);
            padding: 15px 20px;
            border-radius: 15px;
            color: #fdc236;
            transition: box-shadow 1s, color 1s;
        }

        input[name='sex']:checked:after {
            box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.4);
            color: #00529c;
        }

    .form-group {
        margin-bottom: 5px;
    }
</style>

<style>
    input[type='checkbox'] {
        height: 0;
        width: 0;
        position: absolute;
    }

        input[type='checkbox'] + label {
            position: relative;
            display: flex;
            /*margin: .6em 0;*/
            align-items: center;
            color: #484848;
            transition: color 250ms cubic-bezier(.4,.0,.23,1);
        }

            input[type='checkbox'] + label > ins {
                position: absolute;
                display: none;
                bottom: 0;
                /*left: 2em;*/
                height: 0;
                width: 100%;
                overflow: hidden;
                text-decoration: none;
                transition: height 300ms cubic-bezier(.4,.0,.23,1);
            }

                input[type='checkbox'] + label > ins > i {
                    position: absolute;
                    bottom: 0;
                    font-style: normal;
                    color: #4FC3F7;
                }

            input[type='checkbox'] + label > span {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                width: 1em;
                height: 1em;
                background: transparent;
                border: 2px solid #9E9E9E;
                border-radius: 2px;
                cursor: pointer;
                transition: all 250ms cubic-bezier(.4,.0,.23,1);
            }

            input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label {
                /*color: #fff;*/
            }

                input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span {
                    background: rgba(255,255,255,.1);
                }

        input[type='checkbox']:checked + label > ins {
            height: 100%;
        }

        input[type='checkbox']:checked + label > span {
            border: 2px solid #ea4d34;
            /*background: linear-gradient(180deg, #ff8a00, #da1b60);*/
            animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
        }

            input[type='checkbox']:checked + label > span:before {
                content: "";
                position: absolute;
                top: 0.7em;
                left: 0.3em;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;
                transform: rotate(45deg);
                transform-origin: 0% 100%;
                animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
            }

    @@keyframes shrink-bounce {
        0% {
            transform: scale(1);
        }

        33% {
            transform: scale(.85);
        }

        100% {
            transform: scale(1);
        }
    }

    @@keyframes checkbox-check {
        0% {
            width: 0;
            height: 0;
            border-color: #212121;
            transform: translate3d(0,0,0) rotate(45deg);
        }

        33% {
            width: .2em;
            height: 0;
            transform: translate3d(0,0,0) rotate(45deg);
        }

        100% {
            width: .2em;
            height: .5em;
            border-color: #212121;
            transform: translate3d(0,-.5em,0) rotate(45deg);
        }
    }
</style>

<style>
    .containers .name {
        margin-bottom: 0.675rem;
        display: flex;
        justify-content: flex-end;
    }

        .containers .name h4 {
            margin: 0;
            text-transform: uppercase;
            font-size: 0.9rem;
            font-weight: normal;
            color: #dadadf;
            transform: scale(0);
            transform-origin: 100% 50%;
            transition: transform 500ms ease;
        }

    .containers svg {
        width: 1.35rem;
        height: 1.35rem;
    }

        .containers svg.gear {
            order: 1;
            margin-left: 1.35rem;
            cursor: help;
        }

            .containers svg.gear:hover ~ h4 {
                transform: scale(1);
            }

    label {
        position: relative;
        margin: 0.675rem 0px;
        display: flex;
        width: auto;
        align-items: center;
        /*cursor: pointer;*/
        font-weight: 600;
    }

    .check {
        margin-right: 7px;
        width: 1.35rem;
        height: 1.35rem;
    }

        .check #border {
            fill: none;
            stroke: #7a7a8c;
            stroke-width: 3;
            stroke-linecap: round;
        }

        .check #dot {
            fill: url(#gradient);
            transform: scale(0);
            transform-origin: 50% 50%;
        }

    .input {
        display: none;
    }

    input + label {
        font-weight: 400;
    }

    input:checked + label {
        background: linear-gradient(180deg, #ff8a00, #da1b60);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

        input:checked + label svg #border {
            stroke: url(#gradient);
            stroke-dasharray: 145;
            stroke-dashoffset: 145;
            animation: checked 500ms ease forwards;
        }

        input:checked + label svg #dot {
            transform: scale(1);
            transition: transform 500ms cubic-bezier(0.57, 0.21, 0.69, 3.25);
        }

    @@keyframes checked {
        to {
            stroke-dashoffset: 0;
        }
    }
</style>

<section style="padding:20px 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="survey">
                    <div style="background: #00529c;color: #fff;padding: 10px;border-top-left-radius: 5px;border-top-right-radius: 5px;margin: -1px;text-align: center;">
                        <span style="font-size:16px;">
                            Retirement Survey
                        </span>
                    </div>
                    <div style="padding:10px">
                        <div class="form-group" style="margin-top:15px;">
                            <label style="margin-top:15px;"> Name </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" />
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <label style="margin-top:15px;"> Gender </label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="sex" value="f" data-icon='' checked />
                            <input type="radio" name="sex" value="m" data-icon='' />
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <label style="margin-top:15px;"> Mobile No </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Mobile No" />
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <label style="margin-top:15px;"> Email ID </label>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email ID" />
                        </div>


                        <div class="form-group">
                            <label style="margin-top:15px;">
                                Would you like a pension like a government employee too?
                            </label>
                        </div>
                        <div class="containers">
                            <input type="radio" name="advantage" id="a1" class="input" />
                            <label for="a1">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                Yes
                            </label>
                            <input type="radio" name="advantage" id="a2" class="input" />
                            <label for="a2">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                No
                            </label>
                        </div>


                        <div class="form-group" style="margin-top:15px;">
                            <label style="margin-top:15px;">
                                At what age would you like to get a pension?
                            </label>
                        </div>
                        <div class="containers">
                            <input type="radio" name="field" id="Uno" class="input" />
                            <label for="Uno">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                               58
                            </label>
                            <input type="radio" name="field" id="Dos" class="input" />
                            <label for="Dos">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                60
                            </label>
                            <input type="radio" name="field" id="Tres" class="input" />
                            <label for="Tres">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                62
                            </label>
                            <input type="radio" name="field" id="daily" class="input" />
                            <label for="daily">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                64
                            </label>
                        </div>

                        <div class="form-group">
                            <label style="margin-top:15px;"> What is your age range? </label>
                        </div>
                        <div class="containers">
                            <input type="radio" name="energy" id="b1" class="input" />
                            <label for="b1">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                Under 17
                            </label>
                            <input type="radio" name="energy" id="b2" class="input" />
                            <label for="b2">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                18-25
                            </label>
                            <input type="radio" name="energy" id="b3" class="input" />
                            <label for="b3">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                26-35
                            </label>
                            <input type="radio" name="energy" id="b4" class="input" />
                            <label for="b4">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                36-45
                            </label>
                            <input type="radio" name="energy" id="b5" class="input" />
                            <label for="b5">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                45-55
                            </label>
                            <input type="radio" name="energy" id="b6" class="input" />
                            <label for="b6">
                                <svg class="check" viewBox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                55-65
                            </label>

                            <input type="radio" name="energy" id="b7" class="input" />
                            <label for="b7">
                                <svg class="check" viewBox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="18px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                65+
                            </label>
                        </div>

                        <div class="form-group">
                            <label style="margin-top:15px;"> How much pension would you like to have every month? </label>
                        </div>
                        <div class="containers">
                            <input type="radio" name="save_money" id="e1" class="input" />
                            <label for="e1">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                5000
                            </label>
                            <input type="radio" name="save_money" id="e2" class="input" />
                            <label for="e2">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                10000
                            </label>
                            <input type="radio" name="save_money" id="e3" class="input" />
                            <label for="e3">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                15000
                            </label>
                            <input type="radio" name="save_money" id="e4" class="input" />
                            <label for="e4">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                20000
                            </label>
                            <input type="radio" name="save_money" id="e5" class="input" />
                            <label for="e5">
                                <svg class="check" viewbox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                25000
                            </label>
                            <input type="radio" name="save_money" id="e6" class="input" />
                            <label for="e6">
                                <svg class="check" viewBox="0 0 40 40">
                                    <defs>
                                        <linearGradient id="gradient" x1="0" y1="0" x2="0" y2="100%">
                                            <stop offset="0%" stop-color="#ff8a00"></stop>
                                            <stop offset="100%" stop-color="#da1b60"></stop>
                                        </linearGradient>
                                    </defs>
                                    <circle id="border" r="18px" cx="20px" cy="20px"></circle>
                                    <circle id="dot" r="8px" cx="20px" cy="20px"></circle>
                                </svg>
                                30000
                            </label>

                        </div>


                        <div class="form-group">
                            <label style="margin-top:15px;"> How much money would you like to save for the pension every month? </label>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Amount" />
                        </div>

                        <div class="form-group">
                            <a class="btn btn-primary" href="">
                                Submit
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
